.modal-overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: end;
    z-index: 100;
}

.modal-content {
    background: white;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.modal-title {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.modal-title img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.picker-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.picker-col {
    width: 80px;
    height: 140px;
    overflow-y: auto;
    text-align: center;
    align-content: center;
}

.scroll-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scroll-item {
    height: 30px;
    font-size: 18px;
    font-weight: 500;
    color: #333;
    scroll-snap-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-item.selected {
    color: black;
    font-size: 19px;
    font-weight: bold;
}

.colon {
    font-size: 24px;
    font-weight: bold;
    margin: 0 10px;
}

label input[type="checkbox"] {
    display: none;
}

.checkbox-container {
    margin: 10px;
}

.custom-checkbox {
    width: 20px;
    height: 20px;
    margin-bottom: 30px;
    display: inline-block;
    background-size: cover;
    margin-right: 10px;
    background-image: url('../../../public/images/checkbox_off.png');
}

input[type='checkbox']:checked+.custom-checkbox {
    background-image: url('../../../public/images/checkbox_on.png');
}

label input[type="checkbox"] {
    display: none;
}

label {
    display: flex;
}

.confirm-btn {
    width: 100%;
    background-color: #6F5CFA;
    color: white;
    position: fixed;
    border: none;
    bottom: 0;
    height: 50px;
    left: 0;
}

/* .time-picker {
    display: flex;
    align-items: center;
    width: 100%;
    height: 168px;
} */

/* .time-scroll-container {
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: column;
    width: 100%;
}

.time-scroll {
    align-items: center;
    height: 120px;
    overflow-y: scroll;
    scrollbar-width: none;
} */

/* 
.meridiem {
    overflow-y: scroll;
    width: 60px;
    margin-left: 25px;
    margin-right: 25px;
    overflow-y: scroll;
    scrollbar-width: none;
} */

/* .meridiem span {
    margin-top: 15px;
    margin-bottom: 15px;
} */

/* .time-item {
    margin-top: 15px;
    margin-bottom: 17px;
}

.time-item.selected {
    font-size: 20px;
    font-weight: bold;
} */