.phone{
    font-size: 15px;
}

.input-label{
    margin-top: 10px;
    margin-bottom: 10px;
}

.phone input{
    border: none;
    border-bottom: solid 1px;
    padding: 10px;
}

.phone button{
    border: none;
    border-radius: 15px;
    background-color: #F1F2F3;
    padding: 5px;
    font-size: 13px;
}

.phone button.active{
    background-color: #E4DEFE;
}

.verificaton input{
    border: none;
    border-bottom: solid 1px;
    padding: 10px;
    /* width: 100%; */
}

.toast_message{
    opacity: 0;
    display: none;
    position: fixed;
    top: 50%;
    left: 0;
    /* transform: translate(-50%,-50%); */
    transition: opacity 0.5s ease, top 0.5s ease;
    padding: 10px 50px;
    margin-left: 12px;
    margin-right: 12px;
    background: rgba(0, 0, 0, 0.70);
    border-radius: 100px;
    color: #fff;
    box-shadow: 3px 4px 11px 0px #00000040;
}

.toast_message.active{
    opacity: 1;
    display: block;
}

.completeButton{
    color: #FFFFFF;
    width: 100%;
    background-color: #ACB4B9;
    position: absolute;
    bottom:0%;
    border: none;
    height: 45px;
}

.completeButton.active{
    color: #FFFFFF;
    width: 100%;
    background-color: #6F5CFA;
    position: absolute;
    bottom:0%;
    border: none;
    height: 45px;
}