.calendar-modal-overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.calendar-modal {
    position: fixed;
    bottom: 0;
    background: white;
    width: 90%;
    padding: 20px;
    text-align: center;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    font-weight: bold;
    padding: 10px 0;
}

.calendar-header button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 8px;
    padding-top: 10px;
}

.sunday {
    color: red !important;
}

.saturday {
    color: #9FB3F9 !important;
}

.calendar-day-header {
    font-weight: bold;
    color: #6b7280;
    text-align: center;
}

.calendar-day {
    width: auto;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    font-size: 16px;
    color: #919BA1;
    cursor: pointer;
}

.calendar-day:hover {
    background: #f1f1f1;
}

.calendar-day.selected {
    background: #E4DEFE;
    color: #5343D7 !important;
    font-weight: bold;
}

.calendar-day.disabled {
    color: #d1d5db;
    pointer-events: none;
    ;
}