.container{
    display: flex;
}

.container div{
    border: none;
    border-bottom: #919BA1 1px solid;
    color: #919BA1;
}

.container button{
    font-size: 18px;
    height: 10px;
    width: 106px;
    border: none;
    background-color: transparent;
    padding: 20px; 
    
    
}