.login_container{
    width: 90%;
    max-width: 400px;
    background-color: white;
    padding: 20px;
    text-align: center;
}

.logo img{
    width: 100px;
    position: relative;
    padding: 5px;
}

.login_container .recent_login p{
    color: #9a9af4;
    margin-bottom: 20px;
}

.kakao{
    width: 100%;
    height: 40px;
    font-size: 16px;
    background-color: yellow;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}

.naver{
    width: 100%;
    height: 40px;
    font-size: 16px;
    background-color: #1ec800;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    color: white;
}

.google{
    width: 100%;
    height: 40px;
    font-size: 16px;
    background-color: white;
    border: 1px  solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    color:#444;
}

.last_login{
    color: white;
    border: none;
    border-radius: 15px;
    background-color: #ff6f6f;
    height: 30px;
    width: 120px;
    font-size: 14px;
    
}

.recent_login button{
    display: flex;
    border: solid 1px;
    border: none;
    border-radius: 15px;
    background-color: #E4DEFE;
    color: #5343D7;
    font-size: 15px;
    
}