.floating-action-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 74px;
    height: 74px;
    background-color: #9484FB;
    color: white;
    border-radius: 50%;
    position: relative;
    top: -20px;
}