body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  padding: 0;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
